.display {
  height: 30vh;
  color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 5rem;
  padding: 0 2rem;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2px;
  height: 70vh;
}
